<header class="top-section">
    <h1>Student Survival Guide for Linux & Git<br>History of the Internet</h1>
    <div class="hamburger" id="hamburger">
        <div></div>
        <div></div>
        <div></div>
    </div>
</header>

<!-- Slide-out Menu -->
<nav class="menu" id="menu">
    <a href="/">Home</a>
    <a href="/contact">Contact</a>
    <a href="#social-media-links">Info</a>
    <a href="#Reviews">More</a>
</nav>
<div class="overlay" id="overlay"></div>
